@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Quiz 4 - Database Access</h1>
    <p class="lead">@Model.DatabaseMessage</p>
</div>